.input {
    width: 100%;
    min-height: 2em;
    border: none;
    border-radius: 10px;
    padding: 0.5em;
    font-size:  var(--size-normal);
}

.input:focus {
    box-shadow: 0 0 10px rgb(128, 51, 255);
}
