.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
    row-gap: 0.75em;
    min-height: 5rem;
    padding: 1em;
    margin-bottom: 1em;
    border: 2px solid;
    border-radius: 10px;
    background: var(--form-bg);
}
.title {
    grid-column: -1/1 ;
    font-size:  var(--size-large);
}
.button {
    grid-column: 2;
    margin-top: 0.5em;
    display: flex;
    justify-content: end;
}
.select {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select div {
    width: 50%;
}

@media screen and (max-width: 35em) {
    .form {
        display: flex;
        flex-direction: column;
        row-gap: .5em;
    }
    /*.button {*/
    /*    margin-top: 0.5em;*/
    /*}*/
}