.container {
    height: 100%;
    width: min(60rem, 90%);
    padding: 1rem;
    margin-inline: auto;
    margin-bottom: 1em;
    border: 2px solid;
    border-radius: 10px;
    background: var(--form-bg);

}
.container:last-child {
    margin-bottom: 0;
}