:root {
    --container-w: 20rem;
    --container-h: 5rem;
    --list-w: 15rem;
    --item-w: 5rem;
}

.container {
    -webkit-tap-highlight-color: transparent;
    width: var(--container-w);
    height: var(--container-h);
    margin: 0 auto 3rem auto;
    border-radius: calc(var(--container-h) * 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--form-bg);

}
.list {
    width: var(--list-w);
    position: relative;
    /*min-width: 30%;*/
    /*margin: 0 auto;*/
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.list li {
    width: var(--item-w);
    /*height: 3rem;*/
}
.link {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*user-select: none;*/

}
.text {
    position: absolute;
    text-align: center;
    transform: translateY(-1.5rem);
    transition: 0.5s;
    /*z-index: -1;*/
    font-size: var(--size-small);
    text-transform: uppercase;
    opacity: 0;
}

.icon {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: var(--container-h);
    transition: 0.5s;
    z-index: 1;
}
.icon img {
    width: 40%;
    vertical-align: middle;
}
.active {
    color: var(--sup-bg)
}
.link.active .icon {
    transform: translateY(calc(var(--container-h) / 2));
}
.link.active .text {
    transform: translateY(calc(var(--container-h) / 6 * -1));
    opacity: 1;
}

.indicator {
    position: absolute;
    left:0;
    top: calc(var(--container-h) * 0.2);
    width: var(--item-w);
    height: var(--container-h);
    border-radius: 50%;
    border: 8px solid var(--main-bg);
    background: var(--sup-bg);
    /*transform: translateX(calc(var(--item-w)));*/
}
.indicator:before {
    content: '';
    display: block;
    position: absolute;
    /*left: calc(var(--container-h) * 0.27 * -1);*/
    /*top: calc(var(--container-h) * 0.18);*/
    left: -21px;
    top: 14px;
    border-bottom-right-radius: 20px;
    width: 1rem;
    height: 1rem;
    background: transparent;
    box-shadow: 1px 6px 0 0 var(--main-bg);
    /*background: yellow;*/
    /*box-shadow: 1px 6px 0 0 red;*/
}
.indicator:after {
    content: '';
    display: block;
    position: absolute;
    /*right: calc(var(--container-h) * 0.26 * -1);*/
    /*top: calc(var(--container-h) * 0.18);*/
    right: -21px;
    top: 14px;
    border-bottom-left-radius: 20px;
    width: 16px;
    height: 16px;
    background: transparent;
    box-shadow: -1px 6px 0 0 var(--main-bg);

}
@media screen and (max-width: 35em) {
    .container {
        --container-w: 15rem;
        --container-h: 4rem;
        margin-bottom: 2.25rem;
    }
    .list {
        --list-w: 12rem;
    }
    .list li {
        --item-w: 4rem;
    }
    .icon img {
        width: 40%;
    }
    .indicator {
        border: 6px solid var(--main-bg);
    }
    .indicator:before {
        width: 16px;
        height: 16px;
        left: -18.5px;
        top: 8.5px;
        /*background: transparent;*/
        /*box-shadow: 2px 3px 0 0 red;*/
    }
    .indicator:after {
        width: 16px;
        height: 16px;
        right: -18.5px;
        top: 8.5px;
        /*box-shadow: -1px 9px 0 0 var(--main-bg);*/
    }


    /*.button {*/
    /*    margin-top: 0.5em;*/
    /*}*/
}