.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /*margin-bottom: 1rem;*/
    border: 2px solid;
    border-radius: 10px;
    background: var(--post-btn-bg);
}
.postLast {
    margin-bottom: 0;
}
.postContent {
    width: 70%;
}

.postTitle {
    margin-bottom: 0.75rem;
    font-size: var(--size-large);
}
.postDescription {
    font-size:  var(--size-normal);
}

@media screen and (max-width: 35em) {
    .post {
        flex-direction: column;
    }
    .postContent {
        width: 100%;
        margin-bottom: 1rem;
    }
}